.l-page {
  width: 100vw;
  min-height: 100vh;
  background-size: cover !important;
  background-position: bottom !important;

  &__header {
    position: fixed;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #fff;

    &--title {
      margin: 0rem !important;
      font-weight: 600;
    }
    &--subtitle {
      margin-bottom: 0.8rem !important;
      font-size: 1.3rem;
      font-weight: 500;
    }
    &--btn {
      padding: 0.6rem 1.5rem;
      font-size: 1.1rem;
      border-radius: 50rem;
    }
    &--btn:active,
    :hover,
    :focus {
      border: none;
      outline: none;
      box-shadow: none !important;
    }
  }
}
